h1 {
    color: #a10505;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2, p {
    color: #522626;
    font-weight: 500;
    opacity: 0.8;
}
h3 {
    color: #a10505;
    font-weight: 600;
    opacity: 0.8;
}
main {
    font-family:"poppins",sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top,#a10505,#522626);
    display: flex;
    align-items: center;
    justify-content:center;
}
.glass {
    background: #7a7878;
    min-height: 80vh;
    width: 80%;
    background: linear-gradient(to right bottom,rgba(122, 120, 120,0.7),rgba(122, 120, 120,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display:flex;
}
.circle1,.circle2 {
    background: #7a7878;
    background: linear-gradient(to right bottom,rgba(122, 120, 120,0.8),rgba(122, 120, 120,0.3));
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
}
.circle1{
    top:30%;
    right:10%;
}
.circle2{
    top:80%;
    left:5%;
}
.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom,rgba(122, 120, 120,0.7),rgba(122, 120, 120,0.3));
    border-radius: 2rem;
}

.link{
    display:flex;
    margin: 2rem 0rem;
    padding:1rem 5rem;
    align-items:center;
}
.link h2{
    padding:0rem 2rem;
}


.games{
    flex:2;
}
.pro {
    background: linear-gradient(to right top,#a10505,#522626);
    border-radius: 2rem;
    padding: 1rem;
    color: #7a7878;
    position:relative;
}
.pro img{
    position:absolute;
    top:-10%;
    right:10%;
}
.pro h2 {
    width: 40%;
    color: #7a7878;
    font-weight: 600;
}



.status{
    margin-bottom: 3rem;

}
.status input {
    background: linear-gradient(to right bottom,rgba(122, 120, 120,0.7),rgba(122, 120, 120,0.3));
    border:none;
    width:50%;
    padding:0.5rem;
    border-radius:2rem;
}
.games{
    margin:5rem;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.card {
    display: flex;
    background: linear-gradient(to left top,rgba(122, 120, 120,0.8),rgba(122, 120, 120,0.5));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding:2rem;
    box-shadow:6px 6px 20px rgba(122,122,122,0.212);
    justify-content:space-between;
}
.progress {
    background: linear-gradient(to right top,#a10505,#522626);
    width:100%;
    height:25%;
    border-radius:1rem;
    overflow:hidden;
}
.progres::after{
    content:"";
    width:100%;
    height:100%;
    background:#a10505;
    position:absolute;
    left:60%;
}
.card-info{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.percentage {
    font-weight: bold;
    background: linear-gradient(to right top,#a10505,#522626);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}


